
body{
    background-color: grey;
}
/**/

.container .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.container .col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.container .row .col-2 h1{
    color:rgb(47, 213, 255);
    font-size: 60px;
    line-height: 60px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin: 25px;
}

.container .row .col-2 p{
    color:rgb(47, 213, 255);
    font-size: 40x;
    line-height: 40px;
}


/*Animasyon kısmı*/

.col-2 .ring img{
    
    max-width: 415px;
}

#sekil{
    padding-left: 120px;
    padding-top: 60px;
}

.col-2 .ring{
    position:relative;
    width: 390px;
    height: 390px;
    background: transparent;
    border:3px solid rgb(47, 213, 255);
    border-radius: 50%;
    box-shadow: 0 0 20px black;
    z-index:-1;
}

.col-2 .ring:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid rgb(47, 213, 255);
    border-right: 3px solid rgb(47, 213, 255);
    border-radius: 50%;
    z-index:-1;
    animation: turnCircle 10s linear infinite;

}

.col-2 .ring .circle{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height:4px;
    background: transparent;
    transform-origin:left;
    z-index: -1;
    animation: return 10s linear infinite;
}

.col-2 .ring .circle:before{
    content:"";
    position: absolute;
    top:-6px;
    right:-9px;
    width: 16px;
    height: 16px;
    background: rgb(47, 213, 255);
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(47, 213, 255);
    z-index: -1;

}

.container .buton .btn{
    display: inline-block; 
    text-decoration: none;
     color:#ffff;
     padding:8px 20px;
     background-color: rgb(47, 213, 255);
     border-radius: 34px;
     margin-top: 45px;
     font-weight: bold;
     font-size: 15px;
     transition:1s all ease;
     margin: 35px;
}

.container .buton .btn:hover{

    background-color: black;
}

.container .card-group{
    margin: 100px;
}




@keyframes turnCircle {
    0%{
        transform:rotate(0deg);/*açı değeri alır*/
    }
    100%{
        transform: rotate(360deg);

    }

}
@keyframes return {
    0%{
        transform:rotate(45deg);/*açı değeri alır*/
    }
    100%{
        transform: rotate(405deg);

    }

}